# Normaliza finales de línea
* text=auto

# Archivos de texto comunes (usa LF en el repo)
*.py  text eol=lf
*.js  text eol=lf
*.jsx text eol=lf
*.ts  text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md  text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ini text eol=lf

# Binarios (no tocar EOL)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
